!!!
%html
  %head
    %title Fake Twitter &copy;
    %link{:href => "/bootstrap.min.css", :type => "text/css", :rel => "stylesheet"}
    %link{:href => "/bootstrap-responsive.min.css", :type => "text/css", :rel => "stylesheet"}
  %body
    .row
      .span8.offset2
        %h1 Welcome to Fake Twitter &copy;
        -if !flash[:notice].nil?
          .alert
            =flash[:notice]
        -if !flash[:alert].nil?
          .alert
            =flash[:alert]
        %ul.nav.nav-pills
          %li
            %a{:href => "/"} Home
          -if current_user
            %li
              %a{:href => "/logout"} Logout
          -else
            %li
              %a{:href => "/users/sign_up"} Sign Up
            %li
              %a{:href => "/sign_in"} Sign In
            
      .span10.offset2
        =yield