%form{:action => "/sign_in", :method => "post"}
  %label{:name => "username"} Username
  %input{:type => "text", :name => "username"}

  %label{:name => "password"} Password
  %input{:type => "password", :name => "password"}

  %br
  %input{:type => "submit", :class => "btn"}